header {
    height: 50px;
    padding: 0 24px;
    color: #c9e2f1;
    background: #2B7FC3;
    border-top: 4px solid #1D5C8F;
    border-bottom: 2px solid #D7D5D4;
}

header h1 {
    margin-top: 5px;
}