* {
    padding:0;
    margin:0;
}
h3, p, label {
    margin:1em 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}

.wrapper {
    margin: 0 auto;
    width: 928px;
}

ul {
    list-style-type: none;
}